.single-container
  %header.single-header
    = render "devise/shared/header"
    %nav.signup-bar
      %ul.progress-bar
        %li
          会員情報
          %br
          .circle--first.circle--red.circle--through
        %li
          電話番号認証
          %br
          .circle.circle--red.circle--through
        %li
          住所入力
          %br
          .circle.circle--red.circle--through
        %li
          支払い方法
          %br
          .circle.circle--red.circle--through
        %li
          完了
          %br
          .circle--last.circle--red.circle--through


  %main.single-main
    .signup-panel
      %h2.signup-panel__head 会員登録完了
      %p.form-group.form-panel.done
        ありがとうございます。
        %br
        会員登録が完了しました。
        %button.btn.btn__red
          メルカリをはじめる

  = render "devise/shared/footer"
