%section.items-box-container.clearfix
  %h3.text-center レディース新着アイテム
  .items-box-content.clearfix
    %section.items-box
      %a
        .items-box-photo
          %img{alt: 'メルカリ', src: '/assets/cat1.png'}
        .items-box-body
          %h3.items-box-name.font-2
            ジャケット
          .items-box-num.clearfix
            .items-box-price.font-5
              ¥10,800
            .items-box-likes.font-2
              ♥ 3
            %p.item-box-tax
              （税込）
    %section.items-box
      %a
        .items-box-photo
          %img{alt: 'メルカリ', src: '/assets/cat1.png'}
        .items-box-body
          %h3.items-box-name.font-2
            コスメ
          .items-box-num.clearfix
            .items-box-price.font-5
              ¥2,800
            .items-box-likes.font-2
              ♥ 2
            %p.item-box-tax
              （税込）
    %section.items-box
      %a
        .items-box-photo
          %img{alt: 'メルカリ', src: '/assets/cat1.png'}
        .items-box-body
          %h3.items-box-name.font-2
            カーディガン
          .items-box-num.clearfix
            .items-box-price.font-5
              ¥5,500
            .items-box-likes.font-2
              ♥ 8
            %p.item-box-tax
              （税込）
    %section.items-box
      %a
        .items-box-photo
          %img{alt: 'メルカリ', src: '/assets/cat1.png'}
        .items-box-body
          %h3.items-box-name.font-2
            シューズ
          .items-box-num.clearfix
            .items-box-price.font-5
              ¥9,800
            .items-box-likes.font-2
              ♥ 5
            %p.item-box-tax
              （税込）
  .view-all
    %a すべての商品を見る
