= render 'shared/global_header'

%main.white
  %img.section.owl-carousel.top-carousel.owl-loaded.owl-drag{alt: 'メルカリ', src: 'assets/mercari_content_pc.png'}

  %section.pickup-container
    %h2.pickup-head
      %a.pickup-head-name ピックアップカテゴリー
    = render 'contents'
  %section.pickup-container
    %h2.pickup-head
      %a.pickup-head-name ピックアップブランド
    = render 'contents'

= render 'shared/global_footer'
