.app__banner{
  @include clearfix;
  width: 100%;
  background-position: center;
  background-image: url("main_bg_pc.jpg");
  &-pc{
    position: relative;
    display: block;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: $White;
    &-inner{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      h2{
        font-size: 24px;
        text-shadow: 0 0 5px $Gray;
      }
      p{
        font-size: 35px;
        text-shadow: 0 0 5px $Gray;
        margin: 10px 0 0 0;
      }
      .app__banner-icon{
        margin: 20px 0 0 0;
        .app__banner-logo{
          width: 60px;
          display: inline-block;
          vertical-align: middle;
        }
        .store{
          display: inline-block;
          margin: 0 0 0 24px;
          vertical-align: middle;
          li{
            display: inline-block;
          }
          li:last-child{
            margin: 0 0 0 16px;
          }
        }
      }
    }
    &-image{
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
    }
  }
}

.footer{
  background-color: $Black;
  padding: 60px 0;
  text-align: center;
  position:relative;
  .nav{
    width: 1020px;
    margin: 0 auto;
    &__list{
      .footer-cell{
        display:inline-block;
        vertical-align: top;
        width: 22%;
        margin: 0 2% 0 0;
        .footer-head{
          color: $White;
          font-weight: bold;
          font-size: 16px;
        }
        .lists{
          font-size: 14px;
          li{
            margin: 16px 0 0 0;
            img {
              width: 22px;
              height: 22px;
            }
            .country_icon {
              position: relative;
              // bottom: 10px;
            }
            a{
              text-decoration: none;
              color: $White;
            }
            a:hover{
              text-decoration:underline;
              color: $Gray;
            }
          }
          li:first-child{
            margin: 24px 0 0 0;
          }
        }
        .footer-mercari-logo {
          width: 124px;
          height: 33px;
        }
      }
    }
  }
  > a{
    display: block;
    margin: 40px 0 0;
  }
  &__copyright{
    margin: 8px 0 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: $White;
  }
  a.sell-btn{
    text-decoration:none;
    margin:0;
    position:fixed;
    right:50px;
    bottom: 50px;
    width: 150px;
    height: 150px;
    background-color: $Red;
    border-radius: 50%;
    .sell-text{
      color: $White;
      margin: 32px 0 0 0;
      font-size:24px;
    }
    .fa{
      color: $White;
      margin: 8px 0 0 0;
      font-size: 54px;
    }
    .copy {
      color: $Black;
    }
  }
}
