body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $LightGray;
}

li {
  list-style: none;
}

img {
  max-width:100%;
  max-height:100%;
}

main.white {
  height: 4372px;
  width: 100%;
  background-color: $LightGray;
}

.pickup-container {
  height: 1911px;
  width: 100%;
  padding: 40px 0;
  background-color: $LightGray;
  h2.pickup-head {
    height: 39px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #0099e8;
    font-size: 28px;
    font-style: bold;
    .pickup-head-name {
      color: $Black;
      font-weight: bold;
    }
  }
  .items-box-container {
    height: 442px;
    width: 85%;
    background-color: $LightGray;
    margin: 0 auto;
    box-sizing: border-box;
    h3.text-center {
      height: 22px;
      width: 95%;
      margin: 26px auto;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #0099e8;
    }

    .items-box-content {
      height: 330px;
      width: 75%;
      margin: 0 auto;
      background-color: $LightGray;
      .items-box {
        height: 330px;
        width: 25%;
        background-color: $LightGray;
        box-sizing: border-box;
        float: left;
        border: 1px solid $LightGray;
        padding: 0px 10px 0px 10px;
        a {
          height: 330px;
          width: 100%;
          display: block;
          .items-box-photo {
            width: 100%;
            background-color: $White;
            box-sizing: border-box;
            text-align: center;
            margin: auto;
          }

          .items-box-body {
            height: 110px;
            width: 100%;
            padding: 10px;
            background-color: $White;
            box-sizing: border-box;
            h3.items-box-name.font-2 {
              height: 48px;
              width: 100%;
              background-color:$White;
              margin: 0;
            }

            .items-box-num {
              height: 30px;
              width: 100%;
              margin-top: 8px;
              background-color:$White;
              .items-box-price.font-5 {
                height:20px;
                float: left;
              }

              .items-box-likes.font-2 {
                height:20px;
                float: right;
              }

              p.item-box-tax {
                height:10px;
                font: 66.66667% sans-serif;
                clear: both;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.view-all {
  width: 87%;
  height: 14px;
  padding-top:20px;
  padding-bottom:30px;
  color:#0099e8;
  font-size: 14px;
  background-color: $LightGray;
  text-align: right;
}
